@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
body{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
* {
    box-sizing: border-box;
  }

.navbar{
    position: fixed;
    transition: top 0.3s;
    z-index: 13;
    width: 100%;
}

.registration{
    text-align: center;
}
.form{
    margin: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
  
}

#number{
    margin-left: 0px;
}
#user-address{
    margin-left: 0px;
}

#user-address input{
    height: 60px;
}

/* #userage{
    /* width: 60px;
    margin: auto;
}

#gender{
   
} */
.features{
    text-align: center;
   display: inline-block;
    margin: 10px 75px;
}

#feature-1{
    /* border: 2px solid green; */
    height: auto;
    width: 238px;
}

#feature-1 img{
    height: auto;
    width: 100%;
    border-radius: 10%;
   
}

#feature-2{
    /* border: 2px solid green; */
    height: auto;
    width: 238px;
    
}

#feature-2 img{
    height: auto;
    width: 100%;
    border-radius: 10%;
   
}

#feature-3{
    /* border: 2px solid green; */
    height: auto;
    width: 238px;
   

}

#feature-3 img{
    height: auto;
    width: 100%;
    border-radius: 10%;
}

.features:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

#feature-1:hover{
   color: rgb(92, 82, 82);
}

#feature-1 img:hover{
    border: 2px solid #FF9F45;
    

}

#feature-2:hover{
    color: rgb(92, 82, 82);
    
}

#feature-2 img:hover{
    border: 2px solid #FF9F45;
   
}

#feature-3:hover{
    color: rgb(92, 82, 82);
    
}

#feature-3 img:hover{
    border: 2px solid #FF9F45;
    

}

.footer{
    text-align: center;
    /* border: 2px solid blue; */
    background-color: #000000;
    z-index: 13;
}


.footer footer{
    height: 60px;
    /* border: 2px solid black; */
    background-color: #007bff;
    z-index: 12;
    border-top: 4px solid black;
}

.footer footer span{
    display: inline-block;
    position: relative;
    top: 20px;
    color: black;
    font-family: 'Ubuntu Condensed', sans-serif;
}


footer a{
    color: white;
}

#name:hover{
    
}

#contact:hover{
    
}

#address:hover{
    
}
html{scroll-behavior:smooth}

.inputs{
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #DFDFDE;
    padding : 0px 5px;
    width: 500px;
    outline: none;
    margin: 10px 2px;
}

@media (min-width:0px) and (max-width: 500px){
 .features{
   
  height: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
     margin: 10px 50px;
 }

 .features:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.container-fluid{
  position: relative;
  top: 55px;
  height:280px;
}

.carousel-item img{
  height: 250px;
}
.inputs{
   width: 300px;
}

}